/* Your app custom styles here */
/* background-image: url(./img/FondoAPP.png) !important;
    background-size: contain !important; */

* {
	padding: 0;
	margin: 0;
}
.button {
	background-color: #b8e994;
	color: black;
	height: 6vh;
	text-align: center;
	font-size: 15px;
	border-radius: 20px;
	font: arial;
} 
#botones {
	margin-bottom: 15px;
	margin-left: 10px;
	margin-right: 10px;
}

.link {
	font-size: 15px;
	color: black;
	margin-bottom: 10px;
}

#cerrarpanel {
	font-size: 15px;
}

.navbar {
	height: 10vh;
}
h2, h1 {
	font-family: 'PT Serif', serif;
	font-size: 30px;
	text-align: center;

}

.logo {
	width: 100px;
	height: 100px;
	margin-top: 40px;
	margin-bottom: 0;
	size: contain;
}

.popup-open {
	color: black;
	font-size: 15px;
	font-family: 'PT Serif', serif;
}

#pup {
	font-size: 15px;
}

.fotopop {
	width: 91vw;
	height: 40vh;
}

#fondo {
	/*background-image: url(./vgg.jpg) !important;
	background-size: 100% 100%;*/
	background-color: #f7f1e3;
    
} 

#noticias {
	color: black;
	font-size: 20px;
}


